**/.idea
*~
*.swp
*.o
*.so
dist
*.egg-info/

/build/CMakeFiles
/build/config
/build/*.dir
/build/*.sdf
/build/*.opensdf
/build/*.user
/build/Debug
/build/Release
/build/Win32
/examples/vc10/CMakeFiles
/examples/vc10/*.filters
/examples/vc10/*.cmake
/examples/vc10/*.txt
/examples/vc10/*.dir
/examples/vc10/*.sdf
/examples/vc10/*.opensdf
/examples/vc10/*.user
/examples/vc10/Debug
/examples/vc10/Release
/examples/vc10/Win32
/examples/vc10/*.suo
/build/*.suo
/examples/vc10/dlib_build/CMakeFiles
/examples/vc10/dlib_build/*.cmake
examples/vc10/dlib_build/*.dir
examples/vc10/dlib_build/*.sdf
examples/vc10/dlib_build/*.opensdf
examples/vc10/dlib_build/*.user
examples/vc10/dlib_build/Debug
examples/vc10/dlib_build/Release
/examples/vc10/ipch
/*.lnk
